@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>Contact page.</h3>

<address>
    <strong>Github:</strong> <a href="https://github.com/werma56s">https://github.com/werma56s</a>
</address>